*{
  margin: 0px;
  padding: 0px;
}
header{
  height: 80px;
  width: 100%;
}
main{
  height: calc(100vh - 80px);
  background-color: black;
}
a, a:visited{
  color: white;
  font-weight: bold;
}
#header-main{
  width: 100%;
 
}
#header-main a{
  color: black;
}
#header-main nav{
  max-width: 400px;
  width: 100%;
}